/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    box-sizing: border-box;
    font-weight:  bold;
}
h2{
    font-size: 64px;
    line-height: 96px;
    z-index: 1;
}
h3{
    font-size: 48px;
    line-height: 72px;
    z-index: 1;
}
.pt-1{
    padding-top: 64px;
}
.pb-1{
    padding-bottom: 60px;
}
@media (max-width: 992px) {
    h2{
        font-size: 48PX;
        line-height: 72px;
    }
        h3{
        font-size: 32PX;
        line-height: 48px;
    }
    .pt-1{
        padding-top: 48px;
    }
    .pb-1{
        padding-bottom: 40px;
    }
}
@media (max-width: 767px) {
    h2{
        font-size: 32PX;
        line-height: 72px;
    }
      h3{
        font-size: 24PX;
        line-height: 48px;
    }
       .pt-1{
        padding-top: 32px;
    }
    .pb-1{
        padding-bottom: 20px;
    }
}
a{
    text-decoration: none;
}
.container{
    max-width: 1110px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.text-primary{
    color: #AA0601;
}   
.bg-primary{
    background-color: #AA0601;
}
.bg-cover{
    background-size: cover;
    background-position:  center center;
    background-repeat: no-repeat;
}
.bg-secondary{
    background-color: #AA06010D;
}
.header{
    display: flex;
    padding: 30px 88px;
    justify-content: space-between;
}
.header .logo a{
    background-image: url(https://i.postimg.cc/L47D7N6C/logo.png);
    width: 80px;
    height: 49px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
.header .nav-bar{
    display: flex;
}
.nav-bar li{
    margin-left: 3rem;
}
.nav-bar li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    line-height: 50px;
    display: block;
}
@media (max-width: 992px) {
    .header{
        padding: 30px 39px;
    }
}
@media (max-width: 767px) {
    .header{
        flex-direction: column;
        align-items: center;
        padding: 13px 0;
        text-align: center;
         position: fixed;
        right: 0;
        left: 0;
        top:0;
        z-index: 2;
    }
    .header .logo{
        padding: 10px 0;
    }
    .header .nav-bar{
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .nav-bar li{
        width: 48%;
        border: 1px solid white;
        margin-left: 0;
    }
}
.banner{
    background-image: url(https://images.unsplash.com/photo-1509029032154-54ba8b3216d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    min-height: 840px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-text{
    width: 40%;
    margin-left: 25rem;
    text-align: right;
}
.banner-text span{
    font-size: 36px;
    line-height: 50px;
}
@media (max-width: 992px) {
    .banner{
        padding-right: 39px;
    }
    .banner-text{
        width: 100%;
        margin-left: 0;
    }
    .banner-text span{
        font-size: 20px;
        line-height: 28px;
    }
    .banner-text h2{
        font-size: 48px;
        list-style: 67px;
    }
}
@media (max-width: 767px) {
    .banner{
        min-height: 394px;
           margin-top: 150px;
    }
    .banner-text span{
        font-size: 16px;
        line-height: 22px;
    }
    .banner-text h2{
        font-size: 32px;
        line-height: 45px;
    }
}
.content1 h3{
    text-align: center;
}
.content1{
    width: 100%;
    padding-bottom: 80px;
}
.content-items{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    text-align: center;
}
.content-items img{
    margin-bottom: 40px;
}
.content-items h4{
    font-size: 24px;
    list-style: 33px;
    padding-bottom: 5px;
}
.content-items4 h4{
    margin-top: 15px;
}
.content-items li p{
    text-align: left;
    padding: 0 1.5rem;
    font-size: 16px;
    line-height: 24px;
}
@media (max-width: 992px) {
    .content-items{
        flex-wrap: wrap;
        flex-direction: row-reverse;;
        align-items: flex-start;
        width: 100%;
    }
    .content-items4{
        margin-top: 20px;
    }
    .content-items4 h4{
        margin-top: 0;
    }
    .content-items li{
        width: 45%;
        padding: 0 2%;
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .content1{
        margin-bottom: 32px;
        padding-bottom: 0;
    }
    .content-items li{
        width: 100%;
        padding: 0 69px;
    }
}
.content2{
    margin-bottom: 80px;
}

.content-items2{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.content-items2 li{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: center;
}
.content-items2 img{
   margin: 0 0.5rem 0 2rem;
}
.content2-list2 img{
    margin: 0 2rem 0 0.5rem;
}
.content2-pic1{
   background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-1.png);
   width: 635px;
   height: 320px;
}
.content2-pic2{
   background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-2.png);
   width: 635px;
   height: 320px;
}
.content2-pic3{
   background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-3.png);
   width: 635px;
   height: 320px;
}
.content2-list1{
    margin-right: 6rem;
}
.content2-sm-info{
    display: none;
}
.content2-list2{
    display: flex;
    flex-direction: row-reverse;
}
@media (max-width: 992px){
    .content2{
        margin-bottom: 40px;
    }
    .content2-pic{
        max-width: 390px;
        height: 168px;
    }
    .content2-list2{
        flex-direction: row;
    }
    .content2-list2 img{
       margin: 0 0.5rem 0 2rem;
    }
    .content2-list1{
        margin-right: 4rem;
    }
}
@media (max-width: 767px) {
      .content2{
        margin-bottom: 32px;
    }
    .content2-info{
        display: none;
    }
    .content2-pic{
        text-align: center;
        max-width: 345px;
        height: 134px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        line-height: 42px;
        color: white;
        font-style: italic;
    }
     .content2-list1{
        margin-right: 0rem;
    }
    .content2-sm-info{
        display: block;
    }
}
.content3{
    width: 100%;
    padding-bottom: 80px;
}
.content3-main{
    display: flex;
    justify-content: space-around;
}
.content3-items .content3-title{
    padding: 64px 0 60px 0;
    color: white;
}
.content3-banner{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png);
    height: auto;
}
.content3-pic1{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-8.png);
    width: 540px;
    height: 472px;
    background-size: cover;
    margin-right: 15px;
}
.content3-pic2{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/product-9.png);
    width: 540px;
    height: 472px;
    background-size: cover;
    margin-left: 15px;
}
.content3-pic{
    display: flex;
    justify-content: center;
    align-items: center;
      position: relative;
}
.content3-pic-bg{
    background: white;
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
@media (max-width: 992px) {
    .content3-banner{
        height: auto;
    }
    .content3-pic{
        width: 345px;
        height: 280px;
    }
    .content3-main{
        padding:  0 39px;
    }
}
@media (max-width: 767px) {
    .content3{
        padding-bottom: 16px;
    }
      .content3-main{
          width: 100%;
          flex-direction: column;
          padding: 0;
          align-items: center;
      }
      .content3-pic1, .content3-pic2{
          margin: 0 0 16px 0;
      }
        .content3-items .content3-title{
        padding: 32px 0 20px 0;
    }
}   
.content4{
    width: 100%;
    margin-bottom: 64px;
}
.customer-items{
    display: flex;
}
.customer-items h5{
    font-size: 14px;
    list-style: 21px;
    margin-bottom: 8px;
    margin-top: 14px;
}
.customer-items p{
    line-height: 24px;
}
.customer-items span{
    color: gray;
    padding: 10px 16px;
    display: block;
    font-size: 14px;
}
.customer-card{
    border: 1px solid lightgray;
    text-align: left;
    margin: 0 15px;
    font-weight: lighter;
}
.customer-card h5, .customer-card p{
     padding: 0 16px;
}
.customer-card1{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/rec-1.png);
    height: 255px;
    width: 100%;
}
.customer-card2{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/rec-2.png);
    height: 255px;
    width: 100%;
}
.customer-card3{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/rec-3.png);
    height: 255px;
    width: 100%;
}
.customer-card4{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/rec-4.png);
    height: 255px;
    width: 100%;
}
@media (max-width: 992px) {
    .content4{
        margin-bottom: 40px;
    }
    .customer-items{
         flex-wrap: wrap;
         justify-content: center;
         padding: 0 39px;
    }
    .customer-card{
        width: 45%;
        margin-bottom: 30px;
}
}
@media (max-width: 767px){
    .customer-items{
        padding: 0 16px;
    }
     .customer-card{
        min-width: 345px;
    }
    .content4{
        margin-bottom: 32px;
    }
}
.form-container{
    max-width: 730px;
    margin: 0 auto;
}
.form-container h3{
    margin-bottom: 24px;
    line-height: 72px;
}
.form-container p{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}
.form-container p{
    text-align: left;
}
.form-container h3{
    text-align: center;
}
.form-container input, .form-container textarea{
    display: block;
}
.form-input{
    width: 100%;
    height: 50px;
    line-height: 24px;
    border: 1px solid black;
    margin-bottom: 16px;
    margin-top: 5px;
    padding-left: 1rem;
}
.form-container textarea{
    height: 136px;
    padding-top: 1rem;
}
.form-check input{
    display: inline;
}
.form-submit{
    display: block;
    text-align: center;
    margin-top: 42px;
}
.btn-submit{
    width: 350px;
    height: 54px;
    color: white;
    border: none;
    margin-bottom: 96px;
}
.btn-submit:hover{
    cursor: pointer;
    background-color: darkred;
}
@media (max-width: 992px) {
    .form-container{
        max-width: 450px;
    }
    .btn-submit{
        max-width: 210px;
        height: 36px;
        margin-bottom: 40px;
    }
}
@media (max-width: 767px) {
    .form-container{
        padding: 0 16px;
         max-width: 345px;
    }
    .form-container ul{
        /* margin-right: 1.5rem; */
          width: 100%;
    }
        .btn-submit{
        max-width: 165px;
        margin-bottom: 32px;
}
.form-input{
       padding-left: 0;
}
}
.footer-content{
    display: flex;
    justify-content: space-between; 
    width: 100%;
}
.footer-nav{
    display: flex;
}
.footer-nav li a{
    margin: 48px 48px 39px 0;
    display: block;
    color: white;
    line-height: 24px;
}
.footer-icon li a{
    display: block;
     margin-top: 36px;
    margin-left: 2rem;
    height: 48px;
    width: 48px;
}
.footer-icon{
    display: flex;
    justify-content: flex-end;
}
.footer-sm-icon{
    display: none;
}
.footer-phone-mail{
     border-bottom: 1px solid white;
     padding-bottom: 10px;
}
.footer-phone-mail li{
    color: white;
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 20px;
    text-align: left;
}
.footer-phone-mail img{
      vertical-align: middle;
      margin-right: 17px;
}
.Copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 28px;
}
.Copyright span, .Copyright a{
    font-size: 16px;
    font-weight: lighter;
    color: white;
}
.Copyright img{
    vertical-align: middle;
    margin-right: 38px;
}
.Copyright-text span{
    margin-left: 64px;
}
.Copyright-sm-logo{
    display: none
}
@media (max-width: 992px){
    footer{
        padding: 0 39px;
    }
    .footer-nav li a{
        margin: 40px 40px 24px 0;
    }
    .footer-icon li a{
        margin-top: 40px;
        margin-left: 24px;
        width: 24px;
        height: 24px;
    }
    .footer-phone-mail li{
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 30px;
    }
    .footer-phone-mail img{
        width: 24px;
        height: 24px;
    }
    .Copyright{
        padding-bottom: 30px;
    }
    .Copyright img{
        display: none;
    }
    .Copyright-text a {
        font-size: 14px;
    }
    .Copyright-text span{
        margin-left: 24px;
    }
} 
@media (max-width: 767px){
     footer{
        padding: 0 15px;
    }
    .footer-nav{
        display: none;
    }
    .footer-icon{
        display: none;
    }
    .footer-sm-phone-mail{
        margin-top: 23px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid white;
    }
     .footer-phone-mail{
         border: none;
         margin: 0;
     }
    .footer-sm-icon{
        display: block;
        display: flex;
    }
    .footer-phone-mail img{
        width: 20px;
        height: 20px;
    }
     .footer-phone-mail li{
        font-size: 16px;
        margin-bottom: 7px;
    }
    .footer-phone-mail img{
      margin-right: 5px;
}
.Copyright{
    flex-direction: column;
    align-items: flex-start;
     position: relative;
}
.Copyright-text a{
    margin: 0 7px 0 0;
    display: block;
    margin-left: 0;
}
.Copyright .Copyright-sm-logo{
    position: absolute;
    right: -40px;
    top: 50px;
    display: block;
}
}
 

 /*  Products */

 .products-top-option{
    max-width: 1386px;
    margin: 0 auto; 
    text-align: center;
 }
 .products-top-option ul{
     display: flex;
     justify-content: center;
 }
 .products-top-option li{
     width: 33%;
     font-size: 42px;
     line-height: 63px;  
      padding: 20px 0 10px 0;
     display: block;
     border: 1px solid lightgray;
 }
 .products-top-option li a{
     font-weight: normal;
     color: black;
       display: block;
 }
 .products-top-option img{
     margin-bottom: -8px;
 }
 .products-top-option .active{
     border-bottom: 10px solid #AA0601;
 }
 @media (max-width: 992px) {
     .products-top-option li{
         width: 33%;
          padding: 16px 0 8px 0;
          line-height: 19px;
     }
      .products-top-option li a{
          font-size: 28px;
          line-height: 42px;
      }
      .products-top-option img{
     margin-bottom: -8px;
     width: 32px;
     height: 32px;
 }
 }
  @media (max-width: 767px) {
         .products-top-option li{
         width: 33%;
         padding-bottom: 4px;
         padding-top: 10px;
     }
        .products-top-option li a{
          font-size: 14px;
          line-height: 19px;
      }
      .products-top-option ul{
          position: fixed;
          right:0;
          left: 0;
          background: white;
          top: 22%;
          z-index: 2;
      }
      .products-top-option img{
     margin-bottom: -3px;
     width: 15px;
     height: 15px;
 }
 .products-top-option .active{
     border-bottom: 4px solid #AA0601;
 }
    }
    .products-banner-all{
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
    }
.products-banner1{
    background-image: url(../IMG1/banner-1.png);
    height: 309px; 
    width: 49%;
}
.products-banner2{
    background-image: url(../IMG1/banner-2.png);
    height: 309px;
    width: 49%;
}
@media (max-width: 992px) {
    .products-banner{
        background-size: cover;
       width: 50%;
    }
    .products-banner-all{
    margin-bottom: 40px;
    }
}
.products-banner1{
    background-image: url(https://images.unsplash.com/photo-1547104442-9f0af4f37a87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
}
.products-banner2{
    background-image: url(https://images.unsplash.com/photo-1544825470-60e99eef8a70?ixlib=rb-1.2.1&auto=format&fit=crop&w=2125&q=80);
}
@media (max-width: 767px) {
      .products-banner{
          margin-top: 200px;
      }
}

.color-option1{
    background: #5F3E2D;
    border-radius: 5px;
    margin-right: 8px;
}
.color-option2{
     background: #B75929;
    border-radius: 5px;
}
.products-color-option{
    width: 24px;
    height: 24px;
}
.products-price{
    color: red;
}



.products-content h4{
     font-size: 42px;
     line-height: 63px;
     font-weight: normal;
     margin-bottom: 40px;
}
.products-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.products-content li{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 21%;
    margin: 0 15px 104px 15px;
}
.products-content img{
    margin-bottom: 5px;
}
.products-content-text{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.products-content-text span{
    display: inline-block;
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 36px;
}
.color-option-items{
    display: flex;
    margin-right: 8px;
}
.Pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 104px;
}
.Pagination li a{
    font-weight: normal;
    padding: 14px 15px;
    border: 1px solid black;
    color: black;
      display: block;
}
.Pagination-next a{
    background-color: lightgray;
}
.Pagination li a:hover{
    background-color: black;
    color: white;
}
.product-md-pic{
    display: none;
}
@media (max-width: 992px) {
    .products-content h4{
        margin-bottom: 32px;
        font-size: 32px;
        line-height: 48px;
    }
    .products-content li{
        width: 46%;
        flex-wrap: wrap;
        height: auto;
        margin-bottom: 72px;
    }
    .products-pic{
        display: none;
    }
    .product-md-pic{
        display: block;
    }
}
@media (max-width: 767px) {
      .products-content h4{
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 28px;
    }
      .products-content li{
        width: 90%;
        padding: 0 15px;
        margin-bottom: 32px;
        margin-right: 0;
        margin-left: 0;
    }
     .products-banner-all{
         margin-bottom: 30px;
     }
      /* .products-content img{
          height: 164px;
      } */
    .Pagination{
        margin-top: 20px;
    margin-bottom: 56px;
}
 .products-content img, .products-content-text span{
     margin-bottom: 1px;
 }
 .Pagination li a{
     padding: 5px 8px;
     border: 1px solid gray;
     font-size: 11px;
     line-height: 17px;
 }
}



/*  Products2 */
.products2-cotent ul{
    margin-bottom: 200px;
}
.products2-cotent li{
    display: flex; 
    flex-direction: column;
    text-align: left;
    width: 30%;
    margin: 0 15px 104px 15px;
}
.products2-cotent li img{
    height: 217px;
}
.products2-content-text{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 9px;
}
.products2-banner1{
    background-image: url(https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    width: 49%;
    height: 309px;
}
.products2-banner2{
    background-image: url(https://images.unsplash.com/photo-1503864637567-80f7bcbad531?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
    background-position: 25% 25%;
    width: 49%;
    height: 309px;
}
.Pagination2{
    display: none;
}
@media (max-width: 992px) {
    .products2-banner1{
        width: 50%;
    }
    .products2-banner2{
        width: 50%;
    }
    .products2-cotent ul{
        margin-bottom: 0;
    }
    .products2-cotent li{
        width: 46%;
        margin-bottom: 72px;
    }
    .Pagination2{
        display: block;
        display: flex;
    }
    .products2-content-text{
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 30px;
    }
}
@media (max-width: 767px) {
     .products2-cotent li{
         width: 100%;
         margin-bottom: 32px;
         margin-right: 0;
         margin-left: 0;
     }
}


/* store */
/* .store-content{
} */
.store-banner{
    background-image: url(https://images.unsplash.com/photo-1511467094700-849a6a082fa2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    background-position: 30% 30%;
    background-size: cover;
    min-height: 309px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
}
.store-banner h2{
    text-align: left;
}
.choose-store{
    text-align: left;
    font-size: 24px;
    line-height: 30px;
}
.choose-store select{
    width: 324px;
    height: 45px;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    border: 2px solid lightgray;
    margin-bottom: 32px;
    margin-left: 20px;
    padding-left: 20px;
}
.local-store{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 304px;
}
.store-items{
    padding: 16px 0;
}
.store-list{
    border: 1px solid lightgray;
    width: 30%;
    margin-right: 30px;
    margin-bottom: 30px;
}
.store-list a{
    padding: 20px 0;
    display: block;
    background-color: black;
    color: white;
    font-size: 19px;
    line-height: 26px;
    text-align: center;
}
.store-list a:hover{
    color: lightgray;
}
.store-items h4{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 12px;
    border-bottom: 1px solid lightgray;
    padding: 0 0 16px 24px;
}
.store-text{
    padding-left: 24px;
}
.store-tel{
    margin-top: 16px;
}
.store-items li{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
}
.store-items img{
    margin-right: 12px;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    margin-bottom: 5px;
}
@media (max-width: 992px) {
    .store-banner {
        padding-left: 39px;
          background-position: 40% 30%;
        background-size: auto;
    }
    .local-store{
        padding-left: 39px;
        margin-bottom: 104px;
    }
    .choose-store{
        padding-left: 39px;
        display: inline;
        font-size: 16px;
    }  
    .choose-store select{
        width: 237px;
        font-size: 16px;
    }   
    .store-list{
    width: 45%;
    padding-bottom: 146px;
}
.store-list a{
    font-size: 14px;
    padding: 16px 0;
}
.store-md-pic{
    width: 100%;
 }
 .store-items{
     padding: 8px 0;
 }
 .store-items li{
     font-size: 14px;
     line-height: 21px;

 }
 .store-items h4{
     font-size: 16px;
     line-height: 24px;
     padding-bottom: 8px;
     padding-left: 16px;
     font-weight: bold;
 }
 .store-text, .store-tel{
     padding-left: 16px;
 }
}
@media (max-width: 767px) {
     .store-banner {
        padding-left: 15px;
        margin-top: 150px;
    }
    .local-store{
        padding-left: 15px;
        margin-bottom: 56px;
    }
    .choose-store{
        padding-left: 15px;
        padding-right: 15px;
        font-size: 14px;
        /* width: 100%; */
    }  
    /* .choose-store label{
        width: 20%;
    } */
    .choose-store select{
        font-size: 14px;
        padding-left: 12px;
        width: 70% !important;
    }   
    .store-list{
    border: 1px solid lightgray;
    width: 100%;
    margin-bottom: 20px;
    margin-right: 15px;
    padding-bottom: 0;
}
 .store-md-pic{
     width: 100%;
 }
}

/* store-address */


.store-address{
    display: flex;
    width: 100%;
    margin-bottom: 304px;
}
.local-store-address{
    width: 45%;
    margin: 0;
}
.local-store-address li{
    width: 100%;
    text-align: left;
    margin-bottom: 0;
}
.local-store-address .store-items{
    display: block;
}
.store-items-md-address{
    display: none;
}
/* iframe{
    margin-right: 30px;
} */
@media (max-width: 992px) {
    .store-address{
        flex-wrap: wrap;
        margin-bottom: 104px;
    }
    .local-store-address{
        width: 44.5%;
        margin-bottom: 0;
    }
    .local-store-address .store-items{
        display: none;
    }
    .store-list-address{
        border: none;
        padding-bottom: 0;
    }
    .store-md-pic{
        height: 80%;
    }
    .store-items-md-address{
        display: block;
        border: 1px solid lightgray;
        text-align: left;
        width: 44.5%;
        padding-bottom: 0;
        height: 100%;
        margin-top: 0.5rem;
        margin-right: 39px;
     }
     iframe{
    margin: 0 39px;
    width: 100%;
    height: 686px;
}
    }
@media (max-width: 767px) {
     .store-address{
         margin-bottom: 56px;
     }
    .choose-store select{
        width: 80%;
    }
   .store-items-md-address{
       display: none;
   }
.local-store-address .store-items{
        display: block;
        border: 1px solid lightgray;
    }
   .local-store-address{
       width: 100%;
   }
   .store-md-pic{
       display: block;
       height: auto;
   }
       iframe{
           height: 227px;
           margin-top: 16px;
           margin: 16px 15px 0 15px;
       }
}

/* question */

.question-banner{
     margin-bottom: 80px;
}
.question-content{
    text-align: left;
    margin-bottom: 304px;
    width: 100%;
}
.question-content h4{
    font-size: 32px;
    line-height: 63px;
    margin-bottom: 36px;
}
.question-content h5{
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 16px;
}
.question-content P{
    padding-left: 60px;
    margin-bottom: 40px;
    line-height: 24px;
}
@media (max-width: 992px) {
    .question-banner{
        margin-bottom: 40px;
    }
    .question-content{
        margin-bottom: 104px;
    }
    .question-content h4,  .question-content h5{
        padding-left: 39px;
    }
    .question-content p{
       padding-right: 39px;
    }
}
@media (max-width: 767px) {
      .question-banner{
        margin-bottom: 24px;
    }
      .question-banner img{
          width: 24px;
      }
    .question-content{
        margin-bottom: 56px;
    }
    .question-content h4{
        font-size: 20px;
        line-height: 63px;
        margin-bottom: 12px;
    }
    .question-content h4,  .question-content h5{
        padding-left: 15px;
    }
    .question-content h5{
        font-size: 16px;
        line-height: 24px;
    }
    .question-content p{
       padding-right: 15px;
       font-size: 14px;
       line-height: 21px;
    }
}
/*  news */
.news-nav-bg{
     background-color: #650300;
}
.news-nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}
.news-nav ul{
    display: flex;
}
.news-nav li a{
     color: white;
     font-size: 20px;
     line-height: 24px;
     display: block;
     padding: 13px 0;
     margin-right: 48px;
}
.news-search img{
    margin-top: 12px;
}
@media (max-width: 992px) {
    .news-nav-bg{
        padding: 0 39px;
    }
    .news-nav{
        margin-bottom: 40px;
    }
    .news-nav li a{
        font-size: 16px;
        margin-right: 32px;
    }
}
@media (max-width: 767px) {
     .news-nav-bg{
         padding: 0 15px;
     }
     .news-nav{
    display: flex;
    justify-content: space-around;
     }
    .news-nav ul{
        margin-top: 200px;
        margin-left: 18px;
    }
    .news-nav li a{
        font-size: 14px;
        margin-right: 20px;
        padding: 16px 0;
    }
    .news-search{
        display: none;
    }
}

.news-content{
    text-align: left;
    margin-bottom: 100px;
}
.news-content li{
    display: flex;
    margin-bottom: 60px;
}
.news-text{
    margin-left: 30px;
}
.news-text h4{
    font-size: 32px;
    color: #650300;
}
.news-text-valentime{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 24px;
    display: inline-block;
    width: 81%;
}
.news-text-date{
    text-align: right;
    width: 18%;
    font-weight: normal;
    color: gray;
}
.news-text p{
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    margin-bottom: 20px;
}
.news-text a{
    text-align: right;
    display: block;
    font-size: 36px;
    line-height: 54px;
    color: #650300;
}
.news-lg-more{
   margin-top: 50px;
}
.news-text .news-md-more{
    display: none;
}
@media (max-width: 992px) {
    .news-content img{
        width: 330px;
        height: 210px;
        padding-left: 39px;
    }
    .news-text{
        padding-right: 39px;
    }
   .news-text h4{
    font-size: 20px;
}
.news-text-valentime{
    font-size: 16px;
    margin-bottom: 8px;
    width: 50%;
}
.news-text-date{
    font-size: 14px;
    width: 48%;
    display: inline-block;
}
.news-content li{
    margin-bottom: 32px;
}
.news-text p{
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    display: inline;
}
.news-text .news-lg-more{
    display: none;
}
.news-text .news-md-more{
    font-size: 14px;
    display: inline-block;
    line-height: 0;
    color: black;
}
@media (max-width: 767px) {
    .news-nav-bg{
        display: none;
    }
    .news-content {
        margin-top: 235px;
        margin-bottom: 39px;
    }
     .news-content img{
       margin: 0 auto;
        width: 91%;
        height: 193px;
        padding-right: 15px; 
       padding-left: 15px;
       margin-bottom: 13px;
    }
    .news-content li{
        flex-direction: column;
    }
    .news-text{
        padding: 0 20px;
        margin: 0;
    }
    .news-text h4{
        font-size: 16px;
    }
    .news-text p{
        display: none;
    }
    .news-text-valentime{
        font-size: 14px;
    }
     .news-text .news-md-more{
         display: none;
     }
}
}


/* event */
.event-nav{
    margin-bottom: 8px;
}
.event-content{
    text-align: left;
    display: flex;
}
.event-content .event-items{
    width: 72%;
    /* border: 1px solid black; */
}
.event-items li img{
    margin-bottom: 24px;
}
.event-items li p{
    font-size: 20px;
    line-height: 30px;
    color: #0A0A0A;
    margin-bottom: 36px;
}
.event-list{
    color: black;
    margin-bottom: 17px;
    display: inline-block;
}
.event-list2{
    font-size: 24PX;
    line-height: 36px;
    margin-right: 16px;
}
.event-special{
    font-size: 28px;
    line-height: 42px;
    display: inline-block;
    width: 67.2%;
    margin-bottom: 23px;
}
.event-date{
    color: gray;
    text-align: right;
    display: inline-block;
    width: 32%;
}
.event-tags{
    margin-top: 83px;
    margin-left: 28px;
    width: 23%;
    /* border: 1px solid black; */
}
.event-tags img{
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
    margin-top: -7px;
}
.event-tags h4{
    font-size: 28px;
    line-height: 42px;
    margin-bottom: 11px;
}
.event-tags li a{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 8px;
    margin-right: 20px;
}
.event-share{
    display: flex;
    vertical-align: middle;
    border-bottom: 2px solid lightgray;
    margin-bottom: 25px;
}
.event-share span{
    margin-top: -4px;
    font-size: 20px;
    line-height: 30px;
    margin-right: 19px;
}
.event-share img{
    margin-right: 16px;
}
.interview-pagination{
    display: flex;
     justify-content: space-between;
}
.interview-pagination-items{
    display: flex;
    margin-bottom: 304px;
}
.interview-pagination-items h4{
    margin-right: 8px;
    margin-left: 8px;
    margin-top: 5px;
}
.event-md-share, .interview-md-pagination-items{
    display:none;
}
.event-sm-tags{
    display: none;
}
@media (max-width: 992px) {
    .event-items{
        max-width: 510px;
        padding-left: 39px;
    }
    .event-items li a{
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 8px;
    }
    .event-items .event-list2{
        font-size: 16px;
    }
    .event-special{
        font-size: 16px;
        margin-bottom: 16px;
        margin-top: -10px;
    }
    .event-items li img{
        margin-bottom: 16px;
    }
    .event-items li p{
        font-size: 16px;
    }
    .event-share{
        margin-bottom: 15px;
        height: 40px;
        display: none;
    }
    .interview-pagination-items{
        display: none;
    }
    .event-share span{
    font-size: 16px;
    margin-right: 16px;
}
.event-tags{
    margin-top: 55px;
    padding-right: 39px;
}
.event-tags img{
    width: 24px;
    height: 24px;
    margin-top: -2px;
}
.event-tags h4{
    font-size: 20px;
    line-height: 42px;
    margin-bottom: 6px;
}
.event-tags li a{
    font-size: 16px;
    margin-right: 16px;
    line-height: 5px;
}
.tags-interview{
    display: block;
    margin: 5px 0;
}
.event-md-items{
    padding: 0 39px;
    text-align: left;
}
.event-md-share{
      display: block;
  }
  .interview-md-pagination-items{
      display: block;
      display: flex;
      margin-bottom: 104px;
  }
}
@media (max-width: 767px) {
       .news-nav-bg{
        display: block;
    }
    .event-content{
        margin-top: -5px;
        flex-wrap: wrap;
    }
    .event-content .event-items{
        width: 100%;
    }
       .event-items{
           padding-left: 15px;
           padding-right: 15px;
}
 .event-special{
     font-size: 14px;
     margin-bottom: 19px;
     line-height: 5px;
     margin-right: 0;
     width: 70%;  
 }
 .event-date{
     width: 28%;
 }
 .event-list2{
     margin-right: 1px;
 }
   .event-items li a{
       line-height: 21px;
       margin-bottom: 6px;
   }
   .event-items h3{
       line-height: 30px;
      color: #650300;
   }
   .event-tags{
       display: none;
   }
    .event-md-items{
        padding: 0 15px;
    }
     .event-share img{
         vertical-align: middle;
     }
     .event-sm-tags{
         margin-top: 0;
         text-align: left;
         display: inline;
     }
        .event-sm-tags li{
            margin-left: 15px;
            margin-bottom: 56px;
        }
        .event-sm-tags li a{
            margin-right: 8px;
            line-height: 15px;
        }
    .interview-pagination{
     flex-direction: column;
     align-items: flex-start;
}
.interview-md-pagination-items{
    margin-bottom: 0;
}
.interview-sm-pagination{
    flex-direction: row-reverse;
    margin-top: 8px;
    margin-bottom: 39px;
}
}
